.caixa{
    background-color:rgb(72, 72, 221);
}

.titulo{
    color: #37323E !important;
    font-weight: bold !important;
}
.botao{
    border-color: blueviolet !important ;
    color:white;
    background-color: white !important;
}
.postagens{
    background-color: rgb(72, 72, 221);
}