.caixa{
    background-color: #DEB841;
}

.titulo{
    color: #37323E !important;
    font-weight: bold !important;
}
.botao{
    border-color: blueviolet !important ;
    color:white;
    background-color: white !important;
}
.postagens{
    background-color: chartreuse;
}