.box1{
    background-color: #37323E;
    height: 120px;
}
.box2{
    background-color: #BFBDC1;
    height: 60px;
}
.redes{
    font-size: 60px !important;
    color:rgb(253, 251, 251);
}
.textos{
    color: rgb(0, 0, 0);

}
